<h1 class="mb-4"><%= @place.name %></h1>

<%= link_to "Back to All Places", places_path, class: "btn btn-secondary mb-4" %>
<%= link_to "New Entry", new_place_entry_path(@place), class: "btn btn-success mb-4 ms-2" %>

<div class="row">
  <% @entries.each do |entry| %>
    <% if entry.user_id == session[:user_id] %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <% if entry.image.attached? %>
            <%= image_tag entry.image, class: "card-img-top" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= entry.title %></h5>
            <p class="card-text"><small class="text-muted">
              <%= entry.occurred_on.strftime("%B %d, %Y") %>
            </small></p>
            <p class="card-text"><%= entry.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>